<div id='job_search' class='well'>
  <style>
      #job_search{
          padding-left: 50px;
          padding-right: 50px;
      }
  </style>

  <div class='container'>
    <div class='row'>
      <button type='button' class='close pull-right'>close &times;&nbsp;&nbsp; </button>
    </div>

    <hr>

    <%= form_for @job_search_criterion, :id => 'job_search_form', :role => 'form' do |f| %>
      <div class='row'>
        <h3>Search All</h3>

        <div class='form-group col-md-4'>
          <h4>Professions</h4>
          <%= f.select :categories, for_select(Category.standard, :name, :code, @job_search_criterion.categories), {},
                       {:size => '5', :class => 'form-control', :multiple => true} %>

          <div class='checkbox' class='form-control'>
            <%= f.check_box :include_management %>
            <%= f.label :include_management, 'Include management positions?' %>
          </div>
        </div>

        <div class='form-group col-md-3'>
          <h4>Settings</h4>
          <%= f.select :settings, for_select(Setting.all, :name, :code, @job_search_criterion.settings), {:include_blank => 'Any'},
                       {:size => '5', :class => 'form-control', :multiple => true} %>
        </div>

        <div class='form-group col-md-2'>
          <h4>States</h4>
          <%= f.select :states, states_for_select(@job_search_criterion.states), {:include_blank => 'Any'},
                      {:size => '5', :class => 'form-control', :multiple => true} %>
        </div>

        <div class='form-group col-md-2'>
          <h4>Position Types</h4>
          <%= f.select :duration_types, options_for_select(DURATION_TYPES, @job_search_criterion.duration_types), {:include_blank => 'Any'},
                                                      {:size => 5, :class => 'form-control', :multiple => true} %>
        </div>
      </div>

      <%#= f.fields_for "location_searches[]", LocationSearch.new do |loc| %>

        <%#= loc.fields_for :address do |addr| %>

          <div class='row'>
            <h3>Search a specific location within:<small></small></h3>

            <div class='form-group col-md-2'>
              <%#= loc.number_field :search_radius, :min => 5, :step => 5, :class => 'form-control', :placeholder => 'Miles' %>
            </div>

            <div class='form-group col-md-1'>
              <p class='form-control-static centered'><strong>of</strong></p>
            </div>

            <div class='form-group col-md-2'>
              <%#= addr.text_field :city, :class => 'form-control', :placeholder => 'City' %>
            </div>

            <div class='form-group col-md-2'>
              <%#= addr.select :state, states_for_select, {:prompt => 'State'}, {:class => 'form-control'} %>
            </div>

            <div class='form-group col-md-1'>
              <p class='form-control-static centered'><strong>OR</strong></p>
            </div>

            <div class='form-group col-md-2'>
              <%#= addr.text_field :zip, :class => 'form-control', :placeholder => 'Zip'  %>
            </div>

            <div class='form-group col-md-2'>
              <%= f.submit 'Search', :class => 'form-control btn btn-primary' %>
            </div>
          </div>

          <div class='row'>
          <h3>Location Searches</h3>

          <% @job_search_criterion.location_searches.each do |location| %>
            <ul>
              <li>
                <%= location.express_address %>
              </li>
            </ul>
          <% end if @job_search_criterion.location_searches.count > 0 %>
        </div>

        <%# end #addr %>
      <%# end #loc %>

      <hr>

    <% end #form %>

  <script>
      submit_on_enter('#job_search_form');

      $('#job_search_toggle').bind('click', false);

      $('.close').click(function(){
          $('#job_search_toggle').unbind('click', false);
          $('#job_search').detach();
      });
    </script>
  </div><!--container-->
</div><!--job_search-->
