<style>
  #header_row{ margin-top: 50px }

  .job_row{
      cursor: pointer;
  }
  .selected{
    background-color: #f5f5f5;
  }
</style>

<div id='header_row' class='row well well-sm navbar-fixed-top'>
  <div class='col-md-6'>
    <div id='title' class='col-sm-4'><h4>Title</h4></div>
    <div class='col-sm-4'><h4>City</h4></div>
    <div class='col-sm-4'><h4>State</h4></div>
  </div>

  <div class='col-md-6'>
    <div class='col-sm-4'><h4>Settings</h4></div>
    <div class='col-sm-4'><h4>Start Date</h4></div>
    <div class='col-sm-4'><h4>Duration</h4></div>
  </div>

</div>

<% @jobs.each do |job| %>
<div id='<%= job.id %>' class='row job_row light_border'>
  <div class='col-md-6'>
    <div class='col-sm-4'><strong><%= job.category.name %></strong></div>
    <div class='col-sm-4'><%= job.facilities[0].address.city %></div>
    <div class='col-sm-4'><%= job.facilities[0].address.full_state %></div>
  </div>

  <div class='col-md-6'>
    <div class='col-sm-4'><%= job.facilities[0].setting.name %></div>
    <div class='col-sm-4'><%= job.start_date %></div>
    <div class='col-sm-4'><%= job.duration %> plurn</div>
  </div>

</div>

<% end %>

<script type='text/javascript'>
  $('.job_row').hover(function(){
      $(this).addClass('selected');
          },
      function(){
      $(this).removeClass('selected');
   });

  function header_height(){
    return $('#header_row').height() + 70;
  }

  $(document).ready(function(){
    $('body').css('padding-top', header_height() + 'px');
  });

  $(window).resize(function(){
    $('body').css('padding-top', header_height() + 'px');
  });

</script>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>vvvv








   <table id='job_table' class='table table-hover'>

      <%= form_for @jsc, :remote => true do |f| %>
        <tr class='search_row'>
          <td id='category_search'>
            <%= f.select :categories, categories_for_select, {}, {:multiple => true, :size => 5} %>
            <p class='help-block'>Hold CTRL to select multiple</p>
            <%= f.check_box :include_management, :id => 'include_management' %>
            <%= label :include_management, 'Include Management?', :for => 'include_management' %>

          </td>

            <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>

        </tr>


        <tr class='search_toggle_row well'>
          <td colspan='6'>
            <span id='search_options' class='btn btn-primary btn-sm pull-right'>Search Options</span>
            <%= f.submit 'Search', :id => 'search', :class => 'btn btn-primary btn-sm pull-right' %>
          </td>
        </tr>
      <% end %>

    </table>














<script>
    $(document).on('click', '.job_row', function(){
        var id = $(this).attr('id');
        window.location = 'jobs/' + id;
    });

    $(document).on('click', '#search_options', function(){
        $('.search_row').show();
        $('#search_options').hide();
        $('#search').show();
    });

    $(document).on('click', '#search', function(){
        $('.search_row').hide();
        $('#search').hide();
        $('#search_options').show();
    });

    $(document).ready(function(){
        $('.search_row').hide();
        $('#search').hide();
    });

</script>
