<style>
  #all_jobs{
      /*margin: 20px;*/
      /*padding-top: 20px;*/
      /*padding-bottom: 20px;*/
      /*border-radius: 15px;*/
      /*-moz-border-radius: 15px;*/
      /*border: solid 2px rgba(0, 0, 0, 0.24);*/
  }
  .job_row{
      margin: 5px;
      border: solid 1px black;
      border-radius: 10px;
      -moz-border-radius: 10px;
      padding: 10px;
  }
</style>

<% unless known_user? %>
  <%= render 'parts/hero_unit_alpha' %>
<% end %>

<div id='all_jobs' class='container'>
  <% @jobs.each do |job| %>
    <% @job_address = job.main_facility.address %>
    <div id='<%= job.id %>' class='job_row row'>
      <div class="col-md-4">
        <strong><%= job.category.name %></strong> (<%= DURATION_TYPES[job.duration_type][:name].downcase %>)
      </div><!--col-->

      <div class="col-md-4">
        <%= "#{@job_address.city}, #{job.main_facility.address.state.upcase }" %> -
        <%= job.main_facility.setting.name %>
      </div><!--col-->

      <div class="col-md-4">
        <strong>Start date:</strong> <%= job.start_date %>
      </div><!--col-->
    </div><!--row-->
  <% end %>
</div><!--container-->


<script type='text/javascript'>
    $(document).ready(function(){
        makeSelectable('.job_row', 'jobs/');
    });
</script>