<% unless known_user? %>
  <%= render 'parts/hero_unit_alpha' %>
<% end %>

<div class='container'>
  <div class='container col-md-8'>
    <% @jobs.each do |job| %>
      <div id='<%= job.id %>' class='row job_row light_border'>
        <div class='col-sm-2'><strong><%= job.category.name %></strong></div>
        <div class='col-sm-2 hidden-xs'><%= job.main_facility.address.city %></div>
        <div class='col-sm-2 hidden-xs'><%= job.main_facility.address.full_state %></div>
        <div class='col-sm-2 visible-xs'><%= "#{job.main_facility.address.city}, #{job.main_facility.address.state.upcase }" %></div>
        <div class='col-sm-2'><%= job.main_facility.setting.name %></div>
        <div class='col-sm-2'><%= job.start_date %></div>
        <div class='col-sm-2'><%= job.duration %> plurn</div>
      </div>
    <% end %>
  </div>

  <div class='container panel col-md-3 col-md-offset-1'>

  </div>

</div>

<script type='text/javascript'>
    $(document).ready(function(){
        make_selectable('.job_row', 'jobs/');
    });
</script>