<% unless known_user? %>
  <%= render 'parts/hero_unit_alpha' %>
<% end %>

<div id='all_jobs' class='container'>
  <div class='col-md-12'>
    <% @jobs.each do |job| %>
    <% @job_address = job.main_facility.address %>
      <div id='<%= job.id %>' class='row job_row light_border'>
        <div class='col-sm-3'>
          <strong><%= job.category.name %></strong><br>
          <%= "#{@job_address.city}, #{job.main_facility.address.state.upcase }" %><br>
          <%= job.main_facility.setting.name %>
        </div>

        <div class='col-sm-2'></div>
        <div class='col-sm-2'><%= job.start_date %></div>
        <div class='col-sm-2'><%= duration_parser(job) %></div>
      </div>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
        makeSelectable('.job_row', 'jobs/');
    });
</script>