<div class='container'>
  <div class='row'>
    <div class='col-md-6'>

      <div class='row'>
        <h1>
          <%= @job.category.name %>&nbsp;
          <small><%= "#{@job.main_facility.address.city}, #{@job.main_facility.address.state.upcase}" %></small>
        </h1>
      </div>

      <div class='row'>
        <blockquote><%= @job.description.html_safe %></blockquote>
      </div>

      <div class='row'>
        <div class='well'>

          <!--<p class='pull-right'>-->
          <%= link_to 'Apply', apply_to_job_path(@job), :remote => true, :class => 'btn btn-primary' %>
          <%= link_to 'Inquire', '#', class: 'btn btn-default' %>

          <%= link_to flag_job_path, :class => 'btn btn-danger pull-right' do %>
            <span class='glyphicon glyphicon-flag'></span>
          <% end %>
          <!--</p>-->
          <!--<p><%#= facilities_parser(@job) %></p>-->
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-6'>
          <h3>Details:</h3>
          <ul>
            <li><strong>Job Type: </strong><%= @job.duration_type.titlecase %></li>
            <li><strong>Start Date: </strong><%= @job.start_date.to_formatted_s(:long) %></li>
            <li><strong>Duration: </strong><%= duration_parser(@job) %></li>
          </ul>
        </div>

        <div class='col-sm-6'>
          <h3>Required Qualifications:</h3>
          <ul>
            <%= @job.requirements.to_line_items %>
          </ul>
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-6'>
          <h3>Benefits:</h3>
          <ul>
            <%= @job.benefits.to_line_items %>
          </ul>
        </div>

        <div class='col-sm-6'>
          <h3>Desired Qualifications:</h3>
          <ul>
            <%= @job.desirements.to_line_items %>
          </ul>
        </div>
      </div>

    </div>

    <div class='col-md-5 panel col-md-offset-1'>

      <div class='row well' style="margin-top:10px">
        <%= link_to(image_tag(@client.logo.url(:medium_show)), client_path(@client)) unless @client.logo.to_s =~ /missing\.png/ %>
        <h2><%= link_to @client.name, client_path(@client) %></h2>

        <h3><%= "#{@contact.first_name} #{@contact.last_name}" %></h3>
        <p><%= mail_to @contact.email %><br>
        <%= @contact.phone %></p>
      </div>

      <div class='row'>
        <% if @job.main_facility.address.geocoded? %>
          <%= render :partial => 'addresses/map',
                     :locals => {:address => @job.main_facility.address, :title => @job.main_facility.name, :starting_address => @starting_address} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

