<style>
  body{ padding-bottom: 70px; }
</style>

<%= form_tag(process_job_form_path(@job_form), :id => 'job_form') do %>
  <div id='job_form' class='container col-10'>
    <h1><%= @job_form.source.title %></h1>
    <hr>
    <%= render_form(@job_form) %>
    <div>
      <br>
      <div class="navbar navbar-inverse navbar-fixed-bottom">
        <p class='centered' style='padding-top: 10px'>
          <!--toto create controller actions for save -->    .
           <%= link_to job_form_path(@job_form, :format => :pdf), :class => 'btn btn-info' do %>
             <span class='glyphicon glyphicon-print'></span> Print
           <% end %>
           <%= link_to 'Reset', reset_job_form_path(@job_form), :class => 'btn btn-danger' %>
           <%= link_to 'Save', process_job_form_path(@job_form), :class => 'btn btn-warning' %>
           <%= submit_tag('Submit', :class => 'btn btn-primary') %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<script type='text/javascript'>
    $(document).ready(function(){
        if($(window).width() >= 751){
            $('.answer_side').hide();
        } else {
            $('.answers_row').hide();
        };
    });

    $(window).resize(function(){
        if($(window).width() >= 751){
            $('.answer_side').hide();
            $('.answers_row').show();
        } else {
            $('.answer_side').show();
            $('.answers_row').hide();
        };
    });

    submitOnEnter('#job_form');

    $(document).on('click', 'input[type=radio]', function(){
        $(this).closest('div.row').removeClass('row_error');
        $(this).closest('div.row').addClass('row_success');
    });
</script>