<style>
  body{ padding-bottom: 70px; }
</style>

<%= form_tag(process_job_form_path(@job_form), :id => 'job_form') do %>
  <div id='job_form' class='container col-10'>
    <h1><%= @job_form.source.title %></h1>
    <hr>
    <%= render_form(@job_form) %>
    <div>
      <br>
      <div class="navbar navbar-default navbar-fixed-bottom">
        <ul class='nav navbar'>
          <li><%= link_to 'Save', process_job_form_path(@job_form, :novalidate => true), :class => 'btn btn-warning' %></li>
          <li><%= submit_tag('Submit', :class => 'btn btn-primary') %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<script type='text/javascript'>
    $(document).ready(function(){
        if($(window).width() >= 751){
            $('.answer_side').hide();
        } else {
            $('.answers_row').hide();
        };
    });

    $(window).resize(function(){
        if($(window).width() >= 751){
            $('.answer_side').hide();
            $('.answers_row').show();
        } else {
            $('.answer_side').show();
            $('.answers_row').hide();
        };
    });

    $(document).ready(function(){
        header_height_setter();
    });

    $(document).keypress(function(e){
        if(e.which == 13){
            $('#job_form').submit();
        }
    });
    $(document).on('click', 'input[type=radio]', function(){
        $(this).closest('div.row').removeClass('row_error');
        $(this).closest('div.row').addClass('row_success');
    });
</script>