<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @contact.phone2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @contact.email2 %>
</p>

<p>
  <strong>Client:</strong>
  <%= @contact.client_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
